
testWS/.metadata/

testWS/Servers/

testWS/FamilyRest/target/

.metadata/

testWS/rest-client/.classpath

testWS/rest-client/.settings/

testWS/rest-client/.project

testWS/testSpringBoot/.settings/

testWS/testSpringBoot/target/

testWS/testSpringBoot/.project

testWS/testSpringBoot/HELP.md

testWS/testSpringBoot/.classpath

testWS/aces-e/acesApi/.settings/

testWS/aces-e/acesCommons/.settings/

testWS/aces-e/acesCommons/.classpath

RemoteSystemsTempFiles/

testWS/.idea/

testWS/aces-e/.settings/

testWS/aces-e/acesApi/.classpath

testWS/aces-e/acesApi/.project

testWS/aces-e/acesApi/target/

testWS/aces-e/acesCommons/.project

testWS/aces-e/acesEar/.settings/

testWS/aces-e/acesEar/.project

testWS/aces-e/acesJpa/.settings/

testWS/aces-e/acesJpa/.classpath

testWS/aces-e/acesJpa/.project

testWS/aces-e/.project

testWS/FamilyRest/.idea/

testWS/springMvcProva/.project

testWS/springMvcProva/.settings/

testWS/springMvcProva/target/

testWS/springMvcProva/.classpath
